body {
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
}

.card {
  width: 30%;
  border: 1px solid lightblue;
  display: inline-block;
  margin: 10px 10px;
}

.cardtitle {
  border: 1px dotted lightgrey;
  text-align: center;
  margin-top: 0;
}

.specs,
.pricing {
  font-weight: bold;
  margin: 12px 0px 10px 10px;
}

.productimage {
  margin: auto 0;
  text-align: center;
}

.productimagefile{
  width: 60%;
}

.productdescription {
  margin: 10px;
  text-align: justify;
}

.availabilityindicator {
  color: yellow;
  background-color: darkgrey;
}

.availabilityindicator span {
  margin-left: 5px;
}

.invalidspecsdate {
  font-size: 10px;
  font-weight: normal;
}


.margin-left {
  margin-left: 10px;
}

.no-margin {
  margin: 0;
}